<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382123839385-0ro67hstnbtnu657s3ll6fgs488m497v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382123839385-0ro67hstnbtnu657s3ll6fgs488m497v</string>
	<key>API_KEY</key>
	<string>AIzaSyCunsagskVRn2d_d_r3hVg34A0aqSy4ZkE</string>
	<key>GCM_SENDER_ID</key>
	<string>382123839385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zaisystems.zaisystems</string>
	<key>PROJECT_ID</key>
	<string>zaisystems-smc-pvt-ltd</string>
	<key>STORAGE_BUCKET</key>
	<string>zaisystems-smc-pvt-ltd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382123839385:ios:48c0f8d845f8593966cd08</string>
</dict>
</plist>